{% extends 'base.html.twig' %}

{% block content %}
<div class="hero-unit" style="background: LightGreen">
    {% for wine in wineList %}
        <h2>{{ wine.wine }}</h2>
        <p>{{ wine.cheese }}</p>
    {% endfor %}
    <a href="/add" class="btn btn-primary btn-large">Add</a>
</div>
{% endblock %}
